:root {
  --outside: orange;
  --whitetxt: white;
  --hdtext: rgb(2, 3, 2);
  --txtbg: rgba(225, 225, 225, 0.2)
}

body {
  margin: 10px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--whitetxt);
  background-color: lightgrey;
  
}

#header-name {
  display:flex;
  border: 5px solid var(--whitetxt);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0px;
  width: auto;
  background-color: var(--hdtext);
  background-image: url("../images/Profile\ Picture.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  
}

.h1-text {
  margin-left: 762px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: var(--txtbg);
  border: 2px solid rgba(225, 225, 225, 0.2);
  background-position: center;  
}

.nav{
  display: flex;
  border: solid var(--whitetxt);
  background-color: var(--hdtext);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0px;
  align-items: center;
  justify-content: center;

}

.links {
  padding: 10px;
  margin-left: 1px;
  margin: auto;
  text-decoration: none;
  justify-content: space-between;
}

.links a {
  padding: 10px;
  
}

.hero-banner {
  display: block;
  border: 1px var(--whitetxt) solid;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.banner-align {
  display: block;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 100px;

}

.banner-align h2 {
  font-style: italic;
  font-size: 20px;
  text-align:end;
  justify-content:center;
  padding-right: 25px;
}

.am-container {
  display: flex;
  height: 150px;
  background-color: var(--hdtext);
  border: 5px var(--whitetxt) solid;
}

.am-heading {
  display: flex;
  padding: 15px;
  border: 5px solid var(--whitetxt);
  font-size: 15px;
  align-content: center;
}

.about-me {
  padding-top: 20px;
  width: 100%;  
  border: 5px solid var(--whitetxt);
  margin: 0;
  font-size: 20px;
  text-align: center;
  justify-content: space-evenly;
  line-height: 30px;
}

.main-content {
  display: flex;
  height: 750px;
  background-color: var(--hdtext);
}

.rp-heading {
  display: flex;
  margin-right: -54px;
  border: 5px solid var(--whitetxt);
  font-size: 15px;
  padding: 10px;
  align-content: center;

}

.rp-heading h2 {
  margin-top: 170%;
  text-align:start;
}

#sectGrid {
  display: grid;
  width: 100%;
  border: 5px var(--whitetxt) solid;
  grid-template-rows: 75% 20% 10%;
  grid-template-columns: 75% 25%;
  grid-template-areas:
  "fp sp"
  "fp ffp"
  "tp fffp"

}

.projectGridArea {
  border: solid 5px var(--whitetxt);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 25px;
  display: flex;
}

#first-p {
  grid-area: fp;
  background-image: url("../images/Galaxy.jpg");
}

#second-p {
  grid-area: sp;
  background-image: url("../images/Computer\ code\ cup.jpg");
}

#third-p {
  grid-area: tp;
  background-image: url("../images/Beach.jpg");
}

#fourth-p {
  grid-area: ffp;
  background-image: url("../images/Stars.jpg");
}

#fifth-p {
  grid-area: fffp;
  background-image: url("../images/Computer\ Code.jpg"); 
}


#contact-me {
  display:inline-block;
  justify-content: end;
}

footer{
  display: flex;
  border: solid var(--whitetxt);
  background-color: var(--hdtext);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0px;
  align-items: center;
  justify-content: center;
}


p {
  margin: 0;
}

a:hover {
  text-decoration: none;
  color: var(--txtbg);
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--whitetxt);
}

a:link {
  text-decoration: none;
}

