* {
  box-sizing: border-box;
}

:root {
  --outside: orange;
  --whitetxt: white;
  --hdtext: rgb(2, 3, 2);
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  color: var(--whitetxt);
  background-color: var(--outside);
  
}

.h1-header {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 50px;

}



}

p {
  margin: 0;
}
